page-register_data {
  .profile_img {
    margin: auto;
    width: 50%;
    height: 50%;
    border-radius: 50%;
  }

  .button-card {
    margin-bottom: 0px;
  }

  .border_div{
    position:relative;
  }

  .button_img{
    position:absolute;
    right:55%;
    bottom:-10px;
  }
}
